body {
  background-color: #EAF6F6;
}
hr {
  width: 80%;
  border-style: dotted none none;
  background-color: white;
  border-width: 5px;
  border-color: gray;
}
h1, h3 {
  color: #66BFBF
}
